streamlit
deepface==0.0.92
# Downgrade for better cloud compatibility
tensorflow==2.10.1
keras==2.10.0
# Keep other dependencies
numpy
scipy
pillow
mtcnn
# Let pip find the compatible version
opencv-python-headless
